* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #979c5ffd;
    padding: 20px 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    border-radius: 8px;
    max-width: 900px;
    position: static;
}

header h1 {
    color: #f0eeee; 
    font-size: 14px;
}

nav a {
    color: #fafafa;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 13px;
}

@media(max-width : 100px) {
    .header{ 
        flex-direction: row;
        gap: 15px;
        text-align: center;
    }

    .header nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}

nav a:hover { 
    color: #000; 
    background-color: #fff;
}
 
.tof {
    background-color: #f7f7f7;
}

.tof-un {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

 .tof-deux {
    flex: 1;
    text-align: justify;
    width: 5px;
 }

 .tof-deux p {
    margin-bottom: 16px;
    line-height: 1.8;
    font-size: 14px;
 }

 .tof-trois {
    flex-shrink: 0;
 }

 .tof-trois img {
    width: 180px;
    height: 180px;
    border-radius: 99px;
    border:3px solid #0f69df;
    object-fit: cover;
    
 }

@media(max-width : 300px) {
    .tof-un {
        flex-direction: row;
        align-items: center;}
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    
    opacity: 1;
    transform: translateY(20px);
    transition:  opacity 0.6s ease, transform 0.6s ease;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    color: #00adb5;
    margin-bottom: 20px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.unique{
    background-color: #e0e0e0;
}
.card {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
}

.card p {
    margin-bottom: 7px;
    line-height: 1.8;
    font-size: 14px;
      
}

ul {
    font-size: 14px; 
    padding: 20px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.btn-prj {
    display: inline-block;
    margin-top: 16px;
    padding: 3px 15px;
    max-height: 35px;
    background-color: #00adb5;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
     
}

.btn-prj:hover {
    background-color: #007f85;
    transform: scale(1.05);
}

.btn-web {
    display: inline-block;
    font-size: 14px;
    padding: 5px 15px;
    background-color: #00adb5;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    max-height: 35px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-web:hover{
    background-color: #007f85;
    transform: scale(1.05);
}

.tnb{
    display: flex;
    justify-content: center;
}

.message {
    background:#314940;
    padding: 30px 20px;  
}

.special {
    max-width: 620px;
    margin: auto;
    text-align: center;
    height: 630px;
}

.special h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.4; 
    margin-top: 1px; 
}

.special-form {
    background: transparent;
}

.form {
    display:flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-first{
    flex: 1px;
    text-align: left;
}

.form-first label {
    color: #ccc;
    margin-bottom: 5px;
    display: block;
}

.form-first input, .form-first textarea {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 14px; 
    height: 35px; 
}

.form-first textarea {
    height: 130px;
    resize: none;
}

.special-form button {
    padding: 8px 20px;
    background-color: #00e0d3;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: transform 0.3s ease;
    margin-top: 5px;
}

.special-form button:hover {
    transform: scale(1.05);
}

@media(max-width : 200px) {
    .form { flex-direction: row;}
}

footer {
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 40px auto;
    background-color: #dde0b4fd;
    color: #222;
    margin-top: 40px; 
    display:flex;
    font-size: 14px;
    max-width: 900px;
    border-radius: 8px;
}

@media(max-width : 10px) {
    .footer { 
        flex-direction: row;
        gap : 10px;
        text-align: center;}
}

.box-highlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;   
}

.compt {
    background-color: #a8a8a8;
    font-size: 14px;
}

.compt h2 {
    color: #1a4699;
}

.box{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;
    text-align: justify;
}

.tel a {
    color:#1c82e2 ;
    font-size: 24px;
}

.tel a:hover { 
    color: #de91fc;
}

em {
    color: #061a8b ;
    font-weight: bold;
    font-style: normal;
}
 










